body {
    background-color: #FFFFFF;
    color: #111111;
    font-family: arial, Verdana;
    font-size: 15px;
}

header {
    background-color: #CCCCCC;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;

}

.font_color_logo {
    color: #6666CC;
}

a:link, a:visited, a:hover {
    color: #6666FF;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
}

img {
    border-radius: 8px;
}

.bg_gray {
    background-color: #808080;
}

.text_darkest {
    color: #111111;
}

.text_grey {
    color: #888888;
}

.pad {
    padding: 5px;
}

.center {
    text-align: center;
}

#table_page {
    width: 100%;
}

#logo-footer {
    width: 160px;
    height: 57px;
}

#login_form {
    background-color: #CCCCCC;
    color: #FFFFFF;
    border-style: solid;
    border-color: #999999;
    padding: 15px;
    width: 320px;
}



#login {
    text-align: right;
}